.app__about{
    flex: 1;
    flex-direction: column;
    width: 100%;
}

.about-heading{
    margin-top: 1rem;
}

.app__profiles{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 0rem;
}

.app__profile-item{
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 2rem 4rem 4rem 4rem;
    

    img{
        width: 100%;
        height: 120px;
        border-radius: 15px;
        object-fit: cover;
    }

    @media screen and (min-width: 2000px) {
        width: 370px;
        margin: 2rem 4rem;

        img{
            height: 320px;
        }
    }
}



