#home{
    position: relative;
    background-size: cover;
    background-repeat: repeat;
    background-position: center;

    .app__wrapper{
        padding: 0;

        .copyright{
            display: none;
        }
    }
}

.app__header{
    flex: 1;
    height: 100%;
    width: 100%;
    flex-direction: row;
    padding: 6rem 2rem 0;

    @media screen and (min-width: 2000px) {
        padding-top: 8rem;
    }

    @media screen and (max-width: 1200px) {
        flex-direction: column;
    }

    @media screen and (max-width: 400px) {
        padding: 6rem 1rem 2rem;
    }
}

.app__header-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 0.65;
    height: 100%;

    @media screen and (max-width: 1200px) {
        width: 100%;
        margin-right: 0;
    }
}

.app__header-badge{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;

    .badge-cmp,
    .tag-cmp{
        padding: 1rem 2rem;
        position: relative;
        left: 300px;
        top: 50px;
        border: var(--white-color);
        border-radius: 15px;
        flex-direction: row;
        width: auto;
        box-shadow: 0 0 20px rgba(0,0,0,0.1);
    }

    .tag-cmp{
        flex-direction: column;
        margin-top: 3rem;
        
        p{
            width: 100%;
            text-transform: uppercase;
            text-align: right;
            font-size: 1.5rem;
        }
    }

    span{
        font-size: 2.5rem;
   
 
        @media screen and (min-width: 2000px) {
            font-size: 5rem;
        }
    }

    @media screen and (max-width: 1200px) {
            justify-content: flex-start;
            align-items: flex-start;
            width: 80%;
            position: relative;
            right: 300px;
    }

    @media screen and (max-width: 500px) {
        width: 100%;
        position: relative;
        right: 300px;
        justify-content: flex-start;
        align-items: flex-start;
    }
    
}

.app__header-circles{
    display: flex;
    flex-direction: column;
    flex: 0.75;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100%;
    margin-left: 1rem;

    div{
        height: 100px;
        width: 100px;
        border-radius: 50%;
        background: var(--white-color);
        box-shadow: 0 0 20px rgba(0,0,0,0.1);
        position: relative;
        left: 50px;

        img{
            height: 60%;
            width: 60%;
        }
    }

    div:nth-child(1){
        height: 75px;
        width: 75px;

        img{
            height: 80%;
            width: 80%;
        }

    }
    

    div:nth-child(2){
        margin: 1rem;
        height: 80px;
        width: 80px;

        img{
            height: 75%;
            width: 75%;
        }
    }

    div:nth-child(3){
        margin: 1.25rem;
        height: 120px;
        width: 120px;
    }

    div:nth-child(4){
        margin: 1rem;
        height: 80px;
        width: 80px;

        img{
            height: 80%;
            width: 80%;
        }
    }

    div:nth-child(5){
        height: 70px;
        width: 70px;
    }

    @media screen and (min-width: 2000px) {
        div:nth-child(1){
            height: 180px;
            width: 180px;
        }
    
        div:nth-child(2){
            height: 200px;
            width: 200px;
        }
    
        div:nth-child(3){
            height: 400px;
            width: 400px;
        }   

        div:nth-child(4){
            height: 200px;
            width: 200px;
        }  

        div:nth-child(5){
            height: 180px;
            width: 180px;
        }  
    }

    @media screen and (max-width: 1200px) {
        width: 200%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 0;
        position: relative;
        top: 50px;

        div{
            margin: 1rem;
        }

        div:nth-child(2){
            margin: 2rem;
        }

        div:nth-child(4){
            margin: 2rem;
        }
    }

    @media screen and (max-width: 500px) {
        width: 50%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 0;
        position: relative;
        right: 50px;
    }

}

.app__header-img{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    height: 100%;

    img{
        position: relative;
        right: 530px;
        width: 100%;
        object-fit: contain;
        z-index: 1;
    }

    @media screen and (max-width: 1200px){
        position: relative;
        left: 500px;
        top: 25px;
    }

    @media screen and (max-width: 500px) {
        width: 50%;
        justify-content: flex-end;
        align-items: flex-end;
        position: relative;
        left: 550px;
        top: 50px;
    }
}